.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  color: aqua;
  background-color: green;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

input {
  margin-top: 4rem;
  padding: 1rem;
  margin-bottom: 5rem;
  border: solid;
}

h2 {
  font-size: bolder;
  margin-bottom: 6rem;
}

h3 {
  margin-bottom: 3rem;
}

.flagIcon {
  display: inline;
  padding: 1rem;
  cursor: pointer;
}
